/** css colors **/

body {
    background-image: url("../images/simple-checker.gif");
    margin: -25px; 
    padding: 0px;
}

header {
	background-image: url("../images/dark-canvas.gif");
	background-repeat: repeat-x;
}

.main {
	background-image: url("../images/light-tile.gif");
	width: 70%;
	height: auto;
	background-repeat: repeat;
	margin: 12.5% 12.5% 0.2%;
	margin-top: 5px;
	padding: 0px 30px 0px 30px;
	border-radius: 10px;
	border-style: ridge;
	box-shadow: 0 0 2px 2px #3E454C;
	display: inline-block;
}

h1 {
	color: rgb(255,255,255);
	font-family: Arial, Verdana, sans-serif;
	font-size: 2.25em;
	padding: 20px 10px 20px 10px;
	text-align: center;
	border: 1px solid #b1b1b1;
	padding: 10px 40px;
	background: #ffa90D;
	border-radius: 10px;
	box-shadow: 0 0 2px 2px #3E454C;**/
	background: linear-gradient(#cedce7, #596a72);
	border-style: ridge;
    font-family: 'Slabo 27px', Georgie, serif;
        background-image: url("../images/controller.png");
     	background-size: 3%;
     	background-attachment: absolute;
    	background-position: 3%;
     	background-repeat: no-repeat;
}

h2 {
	color: rgb(55, 65, 64,);
	padding: 5px 20px 5px 0px;
}

h3 {
	color: rgba(0, 0, 0, 0.8);
	padding: 5px 20px 5px 20px;
}

/** web based font **/

p {
	font-family: 'Slabo 27px', Georgie, serif; 	
}

/** pseudo-class **/

a:link {
	color: #FFA500;
	text-decoration: none;
}

a:visited {
	color: #B2B2B2;
}

a:hover {
	color: #000000;
	text-decoration: underline;	
}

a:active {
	color: #0892d0;
}

a:hover {
	border-color: #ff0000;
}
	
/** list style type **/

ol {
	list-style: circle;
}

/** box model **/

nav a {
	border-radius: 4px;
 	box-shadow: 0 0 10px rgba(0,0,0,.15);
	overflow: hidden;
 	text-align: center;
}

nav a {	
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
	border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    color: rgb(255,255,255);
 	display: block;
    font-size: .85em;
    letter-spacing: .5em;
    line-height: 50px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-transform: uppercase;
    transition: all .1s ease;
}

nav a label:hover, nav a:hover {
    background-color: rgb(114, 51, 98);
	background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
	background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); 
    cursor: pointer;
}
/*******************
nav a {
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: #333331;
    display: block;
    font-size: 1.1rem;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.15s linear;
} *****************/ 

/**#Top10 {
	width: 158.6%;
}**/

figure a {
	border: 2px solid orange;
	height: 400px;
	width: 158.6%;
	display: block;
}

section#events {
	clear: both;
	margin: 0px auto;
	padding-left: 10px;
	border-style: solid;
	border-color: orange;
	padding-top: 2px 0px 2px 20px;
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
	color: #FF9900;
    text-align: center;
    
}

article {
	padding-bottom: 10px;
}

/** fig caption, h4, article **/

figcaption {
	padding-top: 5px;
}

h4 {
	margin-bottom: 0px;
}

article#first {
	padding-top: 10px;
	padding-bottom: 0px;
}

/** second column **/

aside {
	float: right;
	color: #FFA500;
	text-align: center;
	margin: 3% 3% 3% 3%;
	padding: 3px 15px 50px 15px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #FF9900;
	background: linear-gradient(#cedce7, #596a72);
	border-style: ridge;
	border-radius: 10px;
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    font-family: 'Slabo 27px', Georgie, serif;
}

#rightfloat,#rfloat {
	width: 50%;
	float: left;
	clear: both;
}

#topfooter {
	width: 50%;
	margin: auto;
	padding-top: 10px;
}


footer {
	width: 100%;
	clear: both;
	padding-top; 10px;
	padding-bottom: 10px;
	text-align: center;
/**	border-style: solid;
	border-color: orange; **/
	background: linear-gradient(#cedce7, #596a72);
/**	border-style: ridge; **/
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
}

/**tables & form styling**/

th {
    border: 1px solid black;
    margin: 10px;
    padding: 5px

}

td	{
	border: 1px solid black;
	padding: 5px;
	
}

#gameforms {
	width: 43%;
	padding: 5px 5px 5px 5px;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	background-color: blue;
	color: white;
}

#column: {
	width: 43%;
}

table {
	padding: 10px;
	border-spacing: 2px;
}

td:hover {
	background-color: orange;
}

input:focus {
    background-color: #E6E6E6;
}

form {
	width: 43%;
	padding: 3%;
	margin-left: 75%;
	font-size: 0.938em;
	color: #000000;
	border: 1px solid #FF9900;
	border-radius: 10px;
	text-align:	left;
	background-color: #FFD175;
}

label{
    display:inline-block;
    width:95px;
}

input{
    box-sizing:border-box;
    width:calc(100% - 100px);
}

	

	
		
	
