/** css colors **/

body {
    background-image: url("../images/simple-checker.gif");
    margin: -25px; 
    padding: 0px;
}

header {
	background-image: url("../images/dark-canvas.gif");
	background-repeat: repeat-x;
}

.main {
	background-image: url("../images/light-tile.gif");
	width: 70%;
	margin: 0px auto;
	margin-top: 5px;
	padding: 0px 30px 0px 30px;
	border-radius: 10px;
	border-style: ridge;
	box-shadow: 0 0 2px 2px #3E454C;
	clear: both;
}

h1 {
	color: rgb(255,255,255);
	font-family: Arial, Verdana, sans-serif;
	font-size: 2.25em;
	padding: 20px 10px 20px 10px;
	text-align: center;
	border: 1px solid #b1b1b1;
	padding: 10px 40px;
	background: #ffa90D;
	border-radius: 10px;
	box-shadow: 0 0 2px 2px #3E454C;**/
	background: linear-gradient(#cedce7, #596a72);
	border-style: ridge;
    font-family: 'Slabo 27px', Georgie, serif;
}

h2 {
	color: rgb(55, 65, 64,);
	padding: 5px 20px 5px 0px;

}

h3 {
	color: rgba(0, 0, 0, 0.8);
	padding: 5px 20px 5px 20px;
}

/** web based font **/

p {
	font-family: 'Slabo 27px', Georgie, serif; 	
}

/** pseudo-class **/

a:link {
	color: orange;
	text-decoration: none;
}

a:visited {
	color: light gray;
}

a:hover {
	color: black;
	text-decoration: underline;	
}

a:active {
	color: blue;
}

a:hover {
	border-color: red;
}
	
/** list style type **/

ol {
	list-style: circle;
}

/** box model **/

nav a {
	border-radius: 4px;
 	box-shadow: 0 0 10px rgba(0,0,0,.15);
	overflow: hidden;
 	text-align: center;
}

nav a {	
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
	border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    color: rgb(255,255,255);
 	display: block;
    font-size: .85rem;
    letter-spacing: .5rem;
    line-height: 50px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-transform: uppercase;
    transition: all .1s ease;

}

nav a label:hover, nav a:hover {
    background-color: rgb(114, 51, 98);
	background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
	background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); 
    cursor: pointer;
}
/*******************
nav a {
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: #333331;
    display: block;
    font-size: 1.1rem;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.15s linear;
} *****************/ 
figure a {
	border: 2px solid orange;
	height: 400px;
	width: 700px;
	display: block;
}





section#events {
	margin: 0px auto;
	padding-left: 10px;
	border-style: solid;
	border-color: orange;
	padding-top: 2px 0px 2px 20px;
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
	color: orange;
    text-align: center;
    
}

article {
	padding-bottom: 10px;
}

/** fig caption, h4, article **/

figcaption {
	padding-top: 5px;
}

h4 {
	margin-bottom: 0px;
}

article#first {
	padding-top: 10px;
	padding-bottom: 0px;
}

/** second column **/

#consoles {
	float: right;
	clear: both;
	color: #FFA500;
	text-align: center;
	width: 30%;
	margin: 3% 3% 3% 3%;
	padding: 3px 15px 50px 15px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: orange;
	background: linear-gradient(#cedce7, #596a72);
	border-style: ridge;
	border-radius: 10px;
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    font-family: 'Slabo 27px', Georgie, serif; 
}

#rightfloat {
	width: 50%;
	float: left;
}

#topfooter {
	width: 50%;
	margin: auto;
	padding-top: 10px;
}


footer {
	width: 100%;
	clear: both;
	padding-top; 10px;
	padding-bottom: 10px;
	text-align: center;
/**	border-style: solid;
	border-color: orange; **/
	background: linear-gradient(#cedce7, #596a72);
/**	border-style: ridge; **/
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
}



	

	
		
	
