/* css color */
body {
	background-image: url("images/background-image.png");
}

#top {
	background-image: url("images/mountainbikeicon.png");
	}

/* styling text */

h1 {
	color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 2.25em;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin: 20px auto;
}

h1 {
	border: 1px solid #b1b1b1;
	padding: 10px 40px;
	background: #ffa90D;
	width: 300px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #3E454C;
}

h2 {
	color: rgb(55, 65, 64,);
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}

h3 {
	color: rgba(0, 0, 0, 0.8);
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}

/*block quote*/

blockquote {
	font-size: 130%;
	font-style: Slabo;
	font-family:'Slabo 27px', Georgie, serif;  
	padding: 5px;
	border-top: 1px solid #665544;
	border-bottom: 1px solid #665544;
	}	
	
/* web fonts */

p {
	font-family: 'Slabo 27px', Georgie, serif; 	
}

/* inline block */

.prolist {
 	display: inline-block;
 	margin: 0px auto;
 	padding: 20px;
}

.top10 {
 	display: inline-block;
 	margin: 0px auto;
 	padding: 20px;
}

.types {
 	display: inline-block;
 	margin: 0px auto;
 	padding: 20px;
}

/* display */

strong {
	color: rgb(55, 65, 64);
	font-size: 18px;
	font-style: Italic;
}

/* auto margine */

.main {
	width: 70%;
}

.main {
	margin: 0px auto;
	padding-top: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	border-style: ridge;
}


/* floats */

#sidebar {
	float: right;
	width: 40%;
	margin: 1%;
	padding-top: 2px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	border-width: 1px 1px 1px 1px;
	background: linear-gradient(#cedce7, #596a72);
	border-style: ridge;
}

/* liquid layout */

#fluidimg IMG {
	max-width: 100%;
	height: auto;
}

#sidebar IMG {
	max-width: 100%;
	height: auto;
}

#topp {
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	border-width: 1px 1px 1px 1px;
}

.phistory {
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 50px;
	padding-bottom: 5px;
	padding-left: 20px;
	border-width: 1px 1px 1px 1px;
	background-color: lightgray;
	border-style: ridge;
}

/* pseudo class */

a:link {
	color: purple;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;	
}

a:active {
	color: blue;
}

/* list shorthand list styling */

ul {
	list-style: inside circle;

}

/* top link */

.top {
	width: 50%;
	margin: auto;
}

.top {
	margin: 0px 0px 0px 50%;
}

/* wiki link */

.wiki {
	width: 29%;
	margin: auto;
}



