/** css colors **/

h1 {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 2.25em;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin: 20px auto;
}

h1 {
	border: 1px solid #b1b1b1;
	padding: 10px 40px;
	background: #ffa90D;
	width: 180px;
	border-radius: 10px;
	box-shadow: 0 0 2px 2px #3E454C;
}

h2 {
	color: rgb(55, 65, 64,);
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 0px;

}

h3 {
	color: rgba(0, 0, 0, 0.8);
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}

/** web based font **/

p {
	font-family: 'Slabo 27px', Georgie, serif; 	
}

/** pseudo-class **/

a:link {
	color: purple;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;	
}

a:active {
	color: blue;
}

a:hover {
	border-color: yellow;
}
	
/** list style type **/

ol {
	list-style: circle;
}

/** box model **/

li#a {
  	display: inline;
  	margin-right: 10px;
}

ul#a {
	list-style: none;
}

figure a {
	border: 2px solid orange;
	height: 400px;
	width: 300px;
	display: block;
}

.main {
	width: 70%;
	margin: 0px auto;
	padding-top: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	border: 3px solid orange;
	border-radius: 10px;
	box-shadow: 0 0 2px 2px #3E454C;
}

.top {
	width: 50%
	margin: 0px 0px 0px 50%;
}

article#a {
	margin: 0px auto;
	padding-left: 10px;
	border-style: solid;
	border-color: orange;
	padding-top: 2px;
	padding-right: 0px;
	padding-left: 20px;
	padding-bottom: 2px;
}

article {
	padding-bottom: 10px;
}

#CTandP {
	padding-top: 10px;
}

figcaption {
	padding-top: 5px;
}

h4 {
	margin-bottom: 0px;
}


article#first {
	padding-top: 10px;
	padding-bottom: 0px;
}

	
		
	
