/** css colors **/

h1 {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 2.25em;
	padding: 5px 20px 5px 20px;
	margin: 20px auto;
	text-align: center;
}

h1 {
	border: 1px solid #b1b1b1;
	padding: 10px 40px;
	background: #ffa90D;
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 0 2px 2px #3E454C;
}

h2 {
	color: rgb(55, 65, 64,);
	padding: 5px 20px 5px 0px;

}

h3 {
	color: rgba(0, 0, 0, 0.8);
	padding: 5px 20px 5px 20px;
}

/** web based font **/

p {
	font-family: 'Slabo 27px', Georgie, serif; 	
}

/** pseudo-class **/

a:link {
	color: orange;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: black;
	text-decoration: underline;	
}

a:active {
	color: blue;
}

a:hover {
	border-color: red;
}
	
/** list style type **/

ol {
	list-style: circle;
}

/** box model **/

nav a {
	border-radius: 4px;
 	box-shadow: 0 0 10px rgba(0,0,0,.15);
	overflow: hidden;
 	text-align: center;
}

nav a {	
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
	border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    color: rgb(255,255,255);
 	display: block;
    font-size: .85rem;
    letter-spacing: .5rem;
    line-height: 50px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-transform: uppercase;
    transition: all .1s ease;
}

nav a label:hover, nav a:hover {
    background-color: rgb(114, 51, 98);
	background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
	background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); 
    cursor: pointer;
}
/*******************
nav a {
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: #333331;
    display: block;
    font-size: 1.1rem;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.15s linear;
} *****************/ 
figure a {
	border: 2px solid orange;
	height: 400px;
	width: 700px;
	display: block;

}

.main {
	width: 70%;
}

.main {
	margin: 0px auto;
	padding: 0px 30px 0px 30px;
	border-radius: 10px;
	border-style: ridge;
	box-shadow: 0 0 2px 2px #3E454C;
}

.top {
	width: 50%;
	margin: auto;
}

.top {
	margin: 0px 0px 0px 50%;
}

section#events {
	margin: 0px auto;
	padding-left: 10px;
	border-style: solid;
	border-color: orange;
	padding-top: 2px 0px 2px 20px;
	background-color: rgb(157, 34, 60);
	background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
	color: orange;
    text-align: center;
    
}

article {
	padding-bottom: 10px;
}

/** fig caption, h4, article **/

figcaption {
	padding-top: 5px;
}

h4 {
	margin-bottom: 0px;
}

article#first {
	padding-top: 10px;
	padding-bottom: 0px;
}

	
		
	
