h1 {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 2.25em;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin: 20px auto;
}

h1 {
	border: 1px solid #b1b1b1;
	padding: 10px 40px;
	background: #ffa90D;
	width: 180px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #3E454C;
}

h2 {
	color: rgb(55, 65, 64,);
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}

h3 {
	color: rgba(0, 0, 0, 0.8);
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}

p {
	font-family: 'Slabo 27px', Georgie, serif; 	
}

a:link {
	color: purple;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;	
}

a:active {
	color: blue;
}
	