/* css color */

body {
	background-color: rgb(175, 208, 209);
}

/* styling text */

h1 {
	color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 36px;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}

h1 {
	border: 1px solid #b1b1b1;
	padding: 10px 40px;
	background: #ffa90D;
	width: 300px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #3E454C;
}

h2 {
	color: rgb(55, 65, 64,);
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}

h3 {
	color: rgba(0, 0, 0, 0.8);
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}	
	
/* web fonts */

p {
	font-family: 'Slabo 27px', Georgie, serif; 	
}

/* inline block */

.prolist {
 	display: inline-block;
 	margin: 0px auto;
 	width: 300px;
 	padding: 10px;
 	border: 1px;
 	border-style: ridge;
}
 
.top10 {
 	display: inline-block;
 	margin: 0px auto;
 	width: 330px;
 	padding: 10px;
 	border: 1px;
 	border-style: ridge;
}
 
.types {
 	display: inline-block;
 	margin: 0px auto;
 	width: 250px;
 	padding: 10px;
 	border: 1px;
 	border-style: ridge;
}

/* display */

.top10 {
	display: inline-block;
	margin: 0px auto;
	width: 330px;
	padding: 10px;
	border: 1px;
	border-style: ridge;
}

.types {
	display: inline-block;
	margin: 0px auto;
	width: 250px;
	padding: 10px;
	border: 1px;
	border-style: ridge;
}

strong {
	color: rgb(55, 65, 64);
	font-size: 18px;
	font-style: Italic;
}

/* auto margine */

.main {
	width: 1000px;
}

.main {
	margin: 0px auto;
}

p {
	height: 100%;
	width: 100%;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	border-width: 1px 1px 1px 1px;
	border-style: ridge;
}

/* pseudo class */

a:link {
	color: purple;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;	
}

a:active {
	color: white;
}

/* list shorthand list styling */

ul {
	list-style: inside circle;

}

/* top link */

.top {
	width: 500px;
}

.top {
	margin: 0px 0px 0px 500px;
}

/* wiki link */

.wiki {
	width: 300px;
}

.wiki {
	margin: 0px 0px 0px 350px;
}

